<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Learners Academy</title>
    <!-- Bootstrap core CSS -->
    <link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="..public/fontawesome/css/all.css" rel="stylesheet">
    <link href="../public/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Learners</a>
            <a class="btn btn-primary" href="../home.html">Se déconnecter</a>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Bâtiisez votre intellecte avec la Learners Academy!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="text" class="form-control form-control-lg" placeholder="Entrez votre recherche...">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Rechercher!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>Bâtissons notre avenir ensemble</h3>
                        <p class="lead mb-0">Le monde de demain a besoin de nous, le monde d'aujourdhui a besoin de nous, ensemble on sera plus fort!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Vous n'êtes plus seul</h3>
                        <p class="lead mb-0">Nous sommes désormais avec vous!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Une communauté faites pour vous</h3>
                        <p class="lead mb-0">Si vous êtes un pur amoureux de la connaissance ou si vous voulez juste gagner en expérience notre communauté vous aidera amplement!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('../assets/img/laptop.webp');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Bibliothèque</h2>
                    <p class="lead mb-0">Vous voulez allez plus vite ? Vous êtes en première ou deuxième année, accédez rapidement à l'intégralité de quelques cours de recherche concernant votre programme de l'année académique ! Nous tenons à noter que le contenu de chaque cours ne sera pas forcément celui qui sera diffusé en classe, le but ici est de vous donnez un aperçu de façon plus générale ou approfondie de chaque unité d'enseignement</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../assets/img/searchers.png');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Learners Net</h2>
                    <p class="lead mb-0">Connectez-vous à notre communauté, échangez, discuttez, partagez avec d'autres personnes intéressées par les même sujet que vous !</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('../assets/img/learners-blog.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Learners Blog</h2>
                    <p class="lead mb-0">Lisez, partagez, interagissez avec l'ensemble de notre communauté à partir de nos articles !</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../assets/img/podcast.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Learners Podcast</h2>
                    <p class="lead mb-0">Nous vous donnons de façon régulière, nos techniques, nos méthodes pour pouvoir être de meilleurs apprenants, mais pas que nous vous offrons également des contenus exclusifs sur différents autres sujets. Bien-sûr, vous pourrez nous écouter peu importe votre endroit et peu importe l'heure</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Ce qu'ils pensent...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../assets/img/beardman.webp" alt="">
                        <h5>Ulrich Ekassi</h5>
                        <p class="font-weight-light mb-0">"Je suis très content de rencontrer de nombreuses personnes intelligentes chaque jour, elles stimulent mon envie d'apprendre"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../assets/img/beardman.webp" alt="">
                        <h5>Ulrich Ekassi</h5>
                        <p class="font-weight-light mb-0">"Je suis très content de rencontrer de nombreuses personnes intelligentes chaque jour, elles stimulent mon envie d'apprendre"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../assets/img/beardman.webp" alt="">
                        <h5>Ulrich Ekassi</h5>
                        <p class="font-weight-light mb-0">"Je suis très content de rencontrer de nombreuses personnes intelligentes chaque jour, elles stimulent mon envie d'apprendre"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Prêt à s'activer un peu !</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Votre recherche ici...">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Rechercher!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Learners Academy 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>